<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yang.ins">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ins"
        android:label="Instagram"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Register2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Forget2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChangeCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReviseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConcernActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FollowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LikeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CollectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>